CONTEXT_PATH=/qualcosa

DB_URL=jdbc:mysql://localhost:3306/esempio_db
DB_USER=user
DB_PASSWORD=my_password

PAGAMENTO_URL=http://localhost:3374/context-path

RABBITMQ_HOST=example_rabbit_host
RABBITMQ_USERNAME=username_rabbitmq
RABBITMQ_PASSWORD=password_rabbitmq
RABBITMQ_PORT=5485

JWT_SECRET_KEY=MyJavascriptWebTokenSecretKey

SMTP_USERNAME=esempiomail@gmail.com
SMTP_PASSWORD=P455word.

LOG_ROOT_LEVEL=DEBUG