CONTEXT_PATH=/qualcosa
SERVER_PORT=8084

DB_URL=jdbc:mysql://localhost:3306/esempio_db
DB_USER=user
DB_PASSWORD=my_password

PAGAMENTO_URL=http://localhost:3374/context-path

RABBITMQ_HOST=example_rabbit_host
RABBITMQ_USERNAME=username_rabbitmq
RABBITMQ_PASSWORD=password_rabbitmq
RABBITMQ_PORT=5485

SMTP_USERNAME=esempiomail@gmail.com
SMTP_PASSWORD=P455word.

LOG_ROOT_LEVEL=DEBUG

REPORTS_TEMPLATE_DIR=./reports/template/
REPORTS_TEMPLATE_FILENAME=order-payment-receipt
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bP